/* .btn {
    color: #fff;
    background: #0079c1;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border: 0;
    outline: 0;
    font-size: 1.1rem;
    padding: 12px 35px;
    display: inline-block;
    transform: skew(-21deg);
    &:visited {
      color: #fff;
    }
    &:hover {
      background: #0069a8;
    }
    & > span {
      display: inline-block;
      transform: skew(21deg);
    } /* Un-skew the text
  //} */

  .each {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .button-default {
    color: white;
    /*background-color: teal; */
    text-align: center;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 10px;
    display: inline-block;
  }
  
  .button-slanted {
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    
  }
  
  .button-slanted-content {
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);  
    display: inline-block;
  }
  
  .button-fixedwidth {
    width: 30px;
  }

  .btn {
    background: #8C9EFF;
    color: #0079c1;
    -ms-transform: skewX(20deg); /* IE 9 */
    -webkit-transform: skewX(20deg); /* Safari */
    transform: skewX(20deg);
}
.btn-text {
    -ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg);
    padding: 20px;
}